<%- include('partials/header') %>

<h1>Update a Job Sentence</h1>

<div class="container" style="margin-bottom: 40px;">
    <a href="/api/sentences/<%= sentence.id %>"><button>< Back to View</button></a>
</div>

<div class="container">
	<form action="/api/sentences/<%= sentence.id %>" method="POST">
		<div class="container">
			<label for="text">Text</label>
			<input
				type="text"
				name="text"
				id="text"
				value="<%- sentence.text %>"
			/>
		</div>
		<div class="container">
			<label for="category">Category</label>
			<select name="category" id="categories">
				<% categories.forEach(function(category) { %>
                    <% const selected = sentence.category === category ? "selected" : ""; %>
				    <option <%=selected %>><%= category %></option>
                <% }); %>
			</select>
		</div>
		<button type="submit">Save</button>
	</form>
</div>

<%- include('partials/footer') %>
